* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: 100vh;

  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}

/* .outer-div-card{
    border:1px solid black;
    
    
   
} */
/* .inner-div-card {
  margin-top: 20px;
  width: 250px;
  height: 320px;
  
  padding: 10px;
 
}
.inner-div-card > img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}
.inner-div-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-div{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

.header {
  height: 15%;
  width: 100%;
  background-color: white;
}
.nav-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list-container {
  width: 10%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.cart-btn-container {
  display: flex;
}
.link{
  display: flex;
}

.body-container {
  width: 100%;
  height: 75%;
}

.carousel-container {
  /* display: flex; */
  height: 50%;
  width: 100%;
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* .coursels{
  width: 100%;
  
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */
.coursel-card {
  width: 20%;
  height: 89%;
  display: flex;
}
/* :hover .coursel-card{
  cursor: pointer;
  transform: scaleY(.5);
} */
.coursel-card > img {
  width: 100%;
}
:hover.coursel-card > img {
  cursor: pointer;
  transform: scaleX(0.5);
}

.serach-container {
  margin-top: 10px;

  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.search-bar {
  width: 40%;
  padding: 11px 4px;
  background-color: black;
  color: white;
  outline: none;
  /* border-radius: 10px; */
  font-size: 15px;
  font-weight: 700;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-btn {
  padding: 13px 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  /* border-radius: 10px; */
  font-size: 15px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.restaurants-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 20px;
}
.no-restaurant-found-container {
  position: relative;
  left: 370px;
}
.total-restaurants {
  grid-column: 1/-1;
  /* position: relative; */
  font-weight: 500;
  /* right: 500px; */
}
.resturant-list {
  margin-top: 45px;
  /* grid-template-columns:  repeat(3,1fr); */
}
.link {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.card {
  width: 250px;
  height: auto;
  padding: 10px;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.card:hover {
  /* border: 1px solid black; */
  cursor: pointer;
  transform: scale(1.1);
  border: 1 solid #d3d5df;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.card > img {
  width: 100%;
  border-radius: 5px;
}
.card > .card_name {
  font-size: 17px;
  font-weight: 500;
}
.card_details {
  margin-top: 1rem;
}
.card_name {
  font-size: 17px;
  font-weight: 500;
}
.card_desc {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}
.card_info {
  display: flex;
  font-size: 11px;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
  color: #535665;
}
.card_tag {
  color: #686b78;
  font-size: 13px;
}
.card_ratting {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #fff;
  width: 40px;
  height: 20px;
  padding: 0px 5px;
  font-size: 10px;
  font-weight: 600;
}
.card_offer {
  border-top: 1px solid #e9e9eb;
  padding-top: 1rem;
  margin-top: 1rem;
  color: #8a584b;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 6px #ddd;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
#image_shine {
  width: 100%;
  height: 50%;
}

#lines_shine {
  height: 20px;
  width: 100%;
  margin-top: 1rem;
}

.shine {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  animation: left-to-right 2s linear infinite;
}
@keyframes left-to-right {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

.restaurant-details-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 100vh;
}
.restaurant-details-header {
  background-color: black;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.restaurant-detail-name {
  display: flex;
  /* border: 1px solid skyblue; */
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.image-container {
  width: 35%;
  height: 100%;
}
.image-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.resturant-name-container {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant-rating-container {
  display: flex;
  align-items: center;
  gap: 35px;
}
.restaurant-offer-container {
  width: 20%;
  height: 80%;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.restaurant-menu-container {
  width: 100%;
  margin-top: 20px;
  height: 70%;
  /* border: 1px solid red; */
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.menu-category-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid red;  */
  /* position: fixed; */
  /* left: 5%;
  top: 50%; */
}
.category-title {
  margin-right: -10px;
  padding-right: 1rem;
  cursor: pointer;
  display: inline-block;
}
.category-title:hover {
  color: orange;
  font-weight: 600;
  border-right: 2px solid orange;
}
.category-items {
  width: 50%;
  height: 100%;
  /* border: 1px solid pink; */
}
.menu-section {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.category-heading {
  background: #050505;
  color: white;
  padding-left: 10px;
  font-weight: 800;
  font-size: 1.3rem;
  display: block;
}
.total-items {
  font-size: 13px;
  background: orange;
  color: white;
  padding-left: 10px;
}
.menu_card {
  display: flex;
  border-bottom: 1 solid grey;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-content: space-between;
  gap: 10px;
}
.menu_info {
  flex: 2;
}
.menu_img {
  width: 150px;
  height: 100px;
  flex: 1;
  position: relative;
  box-shadow: 1px 1px 5px 2px #d2b7b7;
  border-radius: 12px;
}
.menu_img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.menu-section {
  height: 100%;
  overflow: scroll;
  scrollbar-width: 0;
  flex: 2;
  border-left: 1 solid grey;
}
.menu_item::-webkit-scrollbar {
  display: none;
}
.no-items-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu_cart_section {
  background-color: white;
  width: 50%;
  height: 35px;
  position: absolute;
  bottom: -13px;
  left: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #d2b7b7;
}
.menu_cart_section > span{
  color: orange;
  cursor: pointer;
}
.cart-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100vh;
  width: 80%;
  margin: 10px auto;
}
.delivery-container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.checkout-info{
  border: 1px solid gray;
  height: 30%;
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.checkout-info :first-child{
  font-size: 18px;
  font-weight: bold;

}
.checkout-info>button{
   background-color: black;
   color: white;
   padding: 10px 10px;
   outline: none;
   cursor: pointer;
}
.cart-items-container{
  width: 30%;
  height: 80%;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.cart-title{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.cart-items-details{
   border: 2px solid blanchedalmond;
   height: 30%;
   width: 100%;
}
.cart-items-info{
  margin-top: 10px;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
}
.cart-items-info :first-child{
  width: 40%;
}
.add-remove-item{
  background-color: white;
   width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #d2b7b7;
  cursor: pointer;
}
.add-remove-item > span{
  color: black;
 
}
.suggestion-container{
   height: 15%;
}
.suggestion-container>textarea{
  height: 100%;
  width: 100%;
  outline: none;
  border-color: gray;
  border-style: dashed;
}
.no-contact-container{
  border-width: 1px;
  border-color: gray;
  border-style: dashed;
  height: 20%;
}
.no-contact-container :first-child{
  font-weight: bold;
  font-size: 15px;
}
.no-contact-container :last-child{
  color: gray;
}
.apply-coupon>input{
  width: 100%;
  outline: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  border-color: gray;
  border-style: dashed;
  border-width: 1px;
}
.bill-details{
   /* border: 1px solid gray; */
   height: 40%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   gap: 12px;
  }
.payment{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}  
.bill-details>button{
   background-color: black;
   color: white;
   outline: none;
   padding: 6px 15px;
   border-radius: 5px;
   cursor: pointer;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 2rem;
  font-size: 16px;
  position: fixed;
  bottom: 0;
}
.footer>div{
  display: flex;
}
.heart {
  animation: beat 1s infinite step-start;
  margin: 0 5px;
  display: inline-block;
 
}
 @keyframes  beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.empty-cart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
}
.empty-cart-container >img{
  height: 60%;
}



/* error-404 component */
.error-404{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.go-to-home-btn {
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
}


@media (max-width: 1440px) {
  .nav-bar {
    font-size: 15px;
  }
  .nav-list-container {
    font-size: 20px;
  }
  .serach-container {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .total-restaurants {
    position: relative;
    font-weight: 500;
    right: 525px;
    font-size: 19px;
  }
  .no-restaurant-found-container {
    position: relative;
    left: 370px;
  }
  .resturant-name-container {
    /* font-size: 22px; */
    gap: 18px;
  }
  .restaurant-offer-container {
    font-size: 18px;
  }
  /* .cart-items-container{
     height: 80%; 
     
  }
  .cart-items-details{
    border: none;
  } */


  .cart-container{
    width: 100%;
    display: flex;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: space-evenly; */
  }
  .checkout-info{
    height: max-content;
  }
  .no-contact-container{
    height: max-content;
  }
  .cart-items-container{
    height: 80%;
    margin: 0em;
    overflow-y: auto;
  }
  .cart-items-details{
    height: max-content;
  }
  .cart-items-info{
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .no-restaurant-found-container {
    position: relative;
    left: 190px;
  }
  .logo-container{
    margin-left: 10px;
  }
  .total-restaurants {
    position: relative;
    font-weight: 500;
    right: 365px;
    /* font-size: 19px; */
  }
  .resturant-name-container {
    /* font-size: 22px; */
    gap: 10px;
  }
  .cart-container{
    width: 100%;
    display: flex;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: space-evenly; */
  }
  .checkout-info{
    height: max-content;
  }
  .no-contact-container{
    height: max-content;
  }
  .cart-items-container{
    height: 80%;
    margin: 0em;
    overflow-y: auto;
  }
  .cart-items-details{
    height: max-content;
  }
  .cart-items-info{
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .restaurants-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .no-restaurant-found-container {
    position: relative;
    left: 100px;
  }
  .logo-container{
    margin-left: 20px;
  }
  .nav-list-container {
    gap: 15px;
    margin-right: 20px;
  }
  .carousel-container {
    height: 60%;
  }
  .coursel-card {
    width: 27%;
  }
  .total-restaurants {
    /* grid-column: 1/-1; */
    position: relative;
    font-weight: 500;
    right: 250px;
  }
  .restaurant-offer-container {
    font-size: 14px;
    width: 35%;
  }
  .cart-container{
    width: 100%;
    display: flex;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: space-evenly; */
  }
  .checkout-info{
    height: max-content;
  }
  .no-contact-container{
    height: max-content;
  }
  .cart-items-container{
    height: 80%;
    margin: 0em;
    overflow-y: auto;
  }
  .cart-items-details{
    height: max-content;
  }
  .cart-items-info{
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .nav-bar {
    width: 95%;
  }
  .restaurants-list-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .no-restaurant-found-container {
    position: relative;
    left: 0px;
    border: 1px solid black;
  }
  .no-restaurant-found-container > img {
    /* position: relative;
    left: 10px; */
    width: 280px;
  }

  .search-bar {
    width: 60%;
  }
  .search-btn {
    padding: 13px 4px;
  }
  .carousel-container {
    height: 40%;
    width: 100%;
  }
  .coursel-card {
    width: 30%;
    height: 60%;
  }
  .total-restaurants {
    /* grid-column: 1/-1; */
    position: relative;
    font-weight: 500;
    right: 10px;
  }
  .restaurant-details-header {
    height: 35%;
  }
  .restaurant-detail-name {
    width: 100%;
    margin-left: 5px;
    display: flex;
    gap: 7px;
  }
  .image-container {
    width: 30%;
  }
  .resturant-name-container {
    gap: 15px;
    width: 70%;
    font-size: 14px;
  }
  .restaurant-offer-container {
    display: none;
  }
  .restaurant-menu-container{
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
    /* border: 3px solid red; */
  }
  .menu-category-nav{
   
    width: 100%;
    display: grid;
    /* border: 1px solid rebeccapurple; */
    grid-template-columns:repeat(2,0.5fr);
    display: none;
  }
  .category-title{
    margin-left: 10px;
  }
  .category-items{
    width: 100%;
  }
  .cart-container{
    flex-direction: column;
    gap: 5px;
    box-shadow: none
  }
  .delivery-container{
    /* width: 100%;
    height: 40%;
    box-shadow: none; */
    display: none;
  }
  .cart-items-container{
    width: 100%;
    height: 90%;
    margin-bottom: 50px;
    border-top: 1px solid black;
  }
  .cart-items-info{
    margin-top: 25px;
  }
  .bill-details > h2{
    margin-top: 15px;
    font-size: 17px;
  }
}
